<div class="modal settings-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Paramétrages</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="section-title">Impression</div>
                <div class="section">
                    <label class="wii-field-name w-100">Chemin absolu vers le dossier</label>
                    <div class="d-flex align-items-center mb-3">
                        <input class="form-control w-100" name="directory" type="text" disabled>
                        <div class="choose-directory" title="Sélectionner un dossier"></div>
                    </div>
                    <label class="d-flex align-items-center mb-2">
                        <input type="checkbox" class="checkbox" name="printFilesAlreadyInDirectory" checked>
                        Imprimer les fichiers déjà présents dans le dossier
                    </label>
                    <label class="d-flex align-items-center">
                        <input type="checkbox" class="checkbox" name="deleteFileAfterPrinting" checked>
                        Supprimer le fichier après l'impression
                    </label>
                    <label class="d-flex flex-column align-items-start w-fit-content mt-2">
                        <label for="orientation" class="wii-field-name">Orientation</label>
                        <div class="wii-switch text-truncate" data-name="orientation" data-title="Orientation">
                            <input type="radio" id="portrait" name="orientation" class="data" value="portrait" required/>
                            <label for="portrait">
                                <span class="d-inline-flex align-items-center">
                                    Portrait
                                </span>
                            </label>
                            
                            <input type="radio" id="landscape" name="orientation" class="data" value="landscape" required/>
                            <label for="landscape">
                                <span class="d-inline-flex align-items-center">
                                    Paysage
                                </span>
                            </label>
                        </div>
                    </label>
                </div>
                <div class="section-title">Préfixes</div>
                <div class="section">
                    <div class="wii-small-text">Le nom du préfixe ne peut pas contenir le caractère underscore ("_").</div>
                    <button class="btn btn-outline-primary add-prefix">Ajouter un préfixe</button>
                    <div class="prefixes-container"></div>
                </div>
                <div class="section-title">Démarrage</div>
                <div class="section">
                    <label class="d-flex align-items-center">
                        <input type="checkbox" class="checkbox" name="autoLaunch">
                        Lancer le processus d'impression au démarrage de l'application
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</div>