$primary: #3353D7;
$white: #FFFFFF;
$black: #000000;
$success: #2FC2AB;
$info: #33A5D7;
$danger: #D73353;

$dark-grey: #666666;
$medium-grey: #CBCBCB;
$light-blue: #F2F3F7;
$light-grey: #E8E8E8;
$lightest-grey: #F8F9FA;
$white: #FFFFFF;
$background: #F5F5F7;

$alert-colors: (
    success: $success,
    danger: $danger,
    info: $info,
);

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
