@import "node_modules/bootstrap/scss/bootstrap";

@import "variables";
@import "modal";
@import "flash";
@import "buttons";
@import "form";

.home {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../../assets/img/wave.svg") no-repeat bottom;
}

.enable-printing {
    background-color: $primary;
    color: $white;
    border: 2px solid $primary;
    border-radius: 38px;
    box-shadow: 0 3px 10px $primary;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
    min-width: 200px;
    height: 60px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.manage-settings {
    position: absolute;
    bottom: 0;
    right: 0;

    img {
        width: 50px;
        height: 50px;
        margin: 20px;
        cursor: pointer;

        &:hover {
            animation: spin 0.2s linear;
        }

        @keyframes spin {
            100% {
                transform: rotate(180deg);
            }
        }
    }
}

.print-history {
    position: absolute;
    bottom: 0;
    left: 0;

    img {
        width: 50px;
        height: 50px;
        margin: 20px;
        cursor: pointer;
    }
}

.print-history-item {
    display: flex;
    justify-content: space-between;
}

.wii-field-name {
    color: $black !important;
    font-size: 14px;
    font-weight: 600;
}

.wii-small-text {
    color: $dark-grey;
    font-size: 14px;
    font-weight: normal;
}

.prefix-container {
    margin-top: 10px;

    & > label {
        margin-right: 10px;
    }

    .delete-line {
        background: url("../../assets/icons/trash.svg") no-repeat center;
        margin-left: 10px;
        width: 22px;
        height: 22px;
        cursor: pointer;
    }
}

.add-prefix {
    margin-top: 10px;
}

.choose-directory {
    background: url("../../assets/icons/directory.svg") no-repeat center;
    margin-left: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.wii-loading {
    position: relative;

    /* slightly transparent fallback */
    .spinner-border-wrapper {
        background-color: $black;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 4;
    }
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(2px)) or (backdrop-filter: blur(2px))) {
    .wii-loading .spinner-border-wrapper {
        backdrop-filter: blur(2px);
        background-color: initial;
    }
}