@import "variables";

input[type=checkbox] {
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    vertical-align: middle;
    margin-right: 0.4em;
    border: 2px solid $primary;
    border-radius: 4px;
    -webkit-appearance: none;
    -webkit-transition: box-shadow 200ms;
    cursor: pointer;

    &:disabled {
        border-color: $medium-grey;
    }

    &:not(:disabled):hover {
        border-color: $primary;
    }

    &:active:not(:disabled) {
        border-color: $primary;
    }

    &:focus {
        outline: none;
        border-color: $primary;
    }

    &:checked {
        background-color: $primary;
        box-shadow: none;
        border: none;
        padding: 2px;
    }

    &:checked:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        -webkit-mask: url('../../assets/icons/check.svg') no-repeat center;
        mask: url('../../assets/icons/check.svg') no-repeat center;
        background-color: $white;
    }

    &:disabled {
        border-color: $medium-grey;
        background: $light-grey;
        cursor: not-allowed !important;
    }
}